body {
  font-family: 'Roboto', sans-serif;
}

.jsf-additionalproperties-master .selected {
  font-weight: bold;
}

.jsf-additionalproperties-master > li {
  cursor: pointer;
}

.icon {
  background-repeat: no-repeat;
}

.icon.categorization {
  background-image: url('../icons/Categorization.gif');
}

.icon.category {
  background-image: url('../icons/Category.gif');
}

.icon.control {
  background-image: url('../icons/Control.gif');
}

.icon.masterdetaillayout {
  background-image: url('../icons/TreeMasterDetail.gif');
}

.icon.layout {
  background-image: url('../icons/Layout.gif');
}

.icon.view {
  background-image: url('../icons/View.gif');
}

.icon.group {
  background-image: url('../icons/Group.gif');
}
